@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

body, .quote, .information, .footer {
    display: flex;
    flex-flow: column nowrap;
}

a {
    text-decoration: none;
}

ul.nav-links {
    display: flex;
    gap: 18px;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;align-items: center;
    background-color: rgb(41, 41, 99);
    color: white;
}

img {
    display: block;
    width: 300px;
}