@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body *, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

body, .quote, .information, .footer {
    display: flex;
    flex-flow: column nowrap;
}

.information {
    text-align: center;
}

.header, .information-subcontainer {
    display: flex;
    align-items: center;
}

.information-subcontainer {
    gap: 16px;
}

.information-item {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

a {
    text-decoration: none;
}

ul.nav-links {
    display: flex;
    gap: 18px;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;align-items: center;
    background-color: rgb(41, 41, 99);
    color: white;
}

img {
    display: block;
    width: 300px;
    border-radius: 16px;
}

.information .img-container img {
    border: rgb(22, 22, 110) solid 5px;
    width: 180px;
}