@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body *, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

body, .quote, .information{
    display: flex;
    flex-flow: column nowrap;
}

.information {
    text-align: center;
}

.header, .information-subcontainer {
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 16px;
    display: flex;
    justify-content: space-between;align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul.nav-links {
    display: flex;
    gap: 18px;
    list-style: none;
}

.header {
    max-width: 100vw;
    padding: 32px 16px;
    background-color: hsl(215, 28%, 17%);
    color: #F9FAF8;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.header-text {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.header-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-btn {
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-weight: 800;
    padding: 8px;
    align-self: flex-start;
}

.hero-img {
    flex: 1;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    padding: 64px 32px;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
}

.information-subcontainer {
    gap: 24px;
    flex-flow: row wrap;
    align-content: center;
}

.information-item {
    flex: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.information-item-text {
    font-weight: 300;
}

img {
    display: block;
    border-radius: 16px;
}

.information .img-container img {
    border: rgb(22, 22, 110) solid 5px;
    width: 180px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
}

.quote-author {
    color: #00000068;
}

.call-to-action {
    padding: 64px;
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-card {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 16px;
    color: #F9FAF8;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}

.call-to-action-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

.call-to-action-card-title {
    font-weight: 600;
}

.call-to-action-card-subtitle {
    font-weight: 300;
}

.call-to-action-btn {
    border: 2px dashed #F9FAF8;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-weight: 800;
    padding: 8px;
    align-self: center;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}