body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, .quote, .information, .footer {
    display: flex;
    flex-flow: column nowrap;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}